# Pandas - Analyse statistique

**Libraries**

In [89]:
# pip install pandas

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

### Importation des données

Lien pandas: https://pandas.pydata.org/docs/

In [91]:
# Méthode 1: avec pandas
df = pd.read_csv("data_eleves.csv")
print(type(df))
print(df)

# Méthode 2: avec la librarie csv
# with open("data_eleves.csv", newline='', encoding='utf-8') as file:
#     reader = csv.reader(file)
#     for row in reader:
#         print(row)

<class 'pandas.core.frame.DataFrame'>
           Nom Sexe     Classe      Maths   Physique   Français    Anglais
0       Gina_0    M    Seconde  13.084187  12.977580  11.220971  17.471988
1       Tina_1    F   Première  16.614110   8.726531  11.368379  11.199102
2      Oscar_2    M    Seconde  11.892522  14.506986  12.845797  15.029390
3      Kevin_3    M    Seconde  16.693931   7.495372  13.682304  11.580926
4       Hugo_4    M   Première   4.140765  12.467143  13.553382  13.292102
5        Ugo_5    M  Terminale  14.465708  16.476139  14.654366  15.633426
6       Gina_6    F    Seconde  12.261141   8.523659  13.026004  14.096420
7       Ziad_7    M   Première  11.102978   9.584256  15.907068  12.383383
8       Sami_8    F    Seconde  12.275282  11.249128  12.470686  12.927044
9     Wassim_9    M    Seconde   6.037293   9.741311  18.440338  15.019397
10    Kevin_10    M    Seconde  11.340984   7.123341  14.251335  12.904450
11    Kevin_11    M    Seconde  13.071338  11.171407  11.285685  14.324688
12   Xavier_12    F  Terminale  16.433682   8.344241  10.858215  14.068358
13      Ugo_13    M    Seconde  10.445189  12.183981  13.964945  13.022599
14    David_14    F    Seconde   9.574519   8.701439  12.553074  17.215916
15     Hugo_15    M    Seconde  10.494729  14.874836  14.428001  14.950879
16   Xavier_16    F  Terminale  14.746206   9.041867  13.946475  10.962286
17   Claire_17    M    Seconde  12.986253  10.194846  12.854342  14.279681
18  Valérie_18    F    Seconde  10.410719  13.033793  11.306413  13.007320
19      Ugo_19    F  Terminale  13.539802   7.922839   9.970306  15.278650
20      Bob_20    M  Terminale  12.291233  11.568650  12.106970  12.811219
21   Xavier_21    F  Terminale  14.905935  14.267857  14.712798  13.827895
22    Laura_22    M    Seconde   9.893841   6.981292  13.428187  14.757481
23    Farid_23    M  Terminale  11.017014  11.461585  10.508522  15.298633
24      Bob_24    M  Terminale  10.823676  11.649707  13.346362  12.199555
25      Ugo_25    M    Seconde   7.609455  12.954557  13.770635  13.498248
26    Alice_26    M  Terminale  12.888361   7.907623  11.232285  13.287582
27    Laura_27    M    Seconde  12.783166   7.698858  13.307450  13.020006
28     Ziad_28    M   Première  12.015340  12.304854  13.116417  16.648181
29  Valérie_29    M  Terminale  11.296239  11.742462  10.714059  14.607473
30    Laura_30    M   Première   7.753888  11.626232  13.715575  12.108674
31  Yasmine_31    M    Seconde  10.738064  11.866121  14.121569  15.376793
32  Quentin_32    M  Terminale  10.971856   9.299938  15.166102  17.183234
33    Jules_33    F    Seconde   9.593168  11.580634  15.107604  15.548698
34     Paul_34    F   Première  11.516143  11.732681  10.244661  11.720945
35    Oscar_35    M    Seconde  13.212153   9.214121  11.124350  13.273649
36    Oscar_36    M  Terminale  17.658558  15.664436  14.030071  15.900367
37     Sami_37    M  Terminale  12.523733  12.184582  14.027572  12.938496
38    Laura_38    M   Première  12.772651   8.021741  14.030095  14.665729
39   Wassim_39    M    Seconde  11.776662  12.641384  20.000000  15.161951
40     Tina_40    M  Terminale   6.243686   8.563296  14.141781  12.609604
41  Yasmine_41    M   Première  11.920458  12.967712  15.271131  13.910712
42   Claire_42    M  Terminale  12.180691  13.896489  14.908004   9.138099
43     Emma_43    F  Terminale  19.389726   8.948294  14.302783  12.463419
44     Sami_44    M    Seconde  11.422917  13.408440  12.369462  13.621148
45     Gina_45    F  Terminale  12.904642  12.031952  14.517938  12.128325
46      Ugo_46    M    Seconde  11.895865  13.055150  11.454350  16.448617
47     Inès_47    M  Terminale   8.493966  15.741982  12.526363  11.854788
48     Gina_48    F   Première  15.428468  10.386530  12.029273  13.339933
49    Rania_49    M  Terminale  14.255799   9.115660  13.163748  14.196111

### Visualisation des données

shape donne un tuple (nb_lignes, nb_colonnes)

In [92]:
print(f"Dimensions du DataFrame (lignes, colonnes) : {df.shape}")
print(f"Nombre de lignes : {df.shape[0]}")
print(f"Nombre de colonnes : {df.shape[1]}")

Dimensions du DataFrame (lignes, colonnes) : (50, 7)
Nombre de lignes : 50
Nombre de colonnes : 7

**Visualisation des premières lignes**

df.head() retourne les 5 premières lignes du dataframe.

In [93]:
df.head() 

# df.head(10)

       Nom Sexe    Classe      Maths   Physique   Français    Anglais
0   Gina_0    M   Seconde  13.084187  12.977580  11.220971  17.471988
1   Tina_1    F  Première  16.614110   8.726531  11.368379  11.199102
2  Oscar_2    M   Seconde  11.892522  14.506986  12.845797  15.029390
3  Kevin_3    M   Seconde  16.693931   7.495372  13.682304  11.580926
4   Hugo_4    M  Première   4.140765  12.467143  13.553382  13.292102

**Affichage des noms de colonne** d'un dataframe

In [94]:
print(df.columns)

print(type(df.columns))

Index(['Nom', 'Sexe', 'Classe', 'Maths', 'Physique', 'Français', 'Anglais'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

**Extraire les valeurs d'une colonne** d'un dataframe

In [95]:
df["Nom"]

0         Gina_0
1         Tina_1
2        Oscar_2
3        Kevin_3
4         Hugo_4
5          Ugo_5
6         Gina_6
7         Ziad_7
8         Sami_8
9       Wassim_9
10      Kevin_10
11      Kevin_11
12     Xavier_12
13        Ugo_13
14      David_14
15       Hugo_15
16     Xavier_16
17     Claire_17
18    Valérie_18
19        Ugo_19
20        Bob_20
21     Xavier_21
22      Laura_22
23      Farid_23
24        Bob_24
25        Ugo_25
26      Alice_26
27      Laura_27
28       Ziad_28
29    Valérie_29
30      Laura_30
31    Yasmine_31
32    Quentin_32
33      Jules_33
34       Paul_34
35      Oscar_35
36      Oscar_36
37       Sami_37
38      Laura_38
39     Wassim_39
40       Tina_40
41    Yasmine_41
42     Claire_42
43       Emma_43
44       Sami_44
45       Gina_45
46        Ugo_46
47       Inès_47
48       Gina_48
49      Rania_49
Name: Nom, dtype: object

**Extraire des valeurs** d'un dataframe

iloc[num_ligne, num_colonne] -> utiliser les positions numériques

loc[nom_ligne, nom_colonne] -> Utiliser les noms des lignes et colonnes (à indexer)

In [96]:
# Exemple 1 : première ligne, quatrième colonne (Maths)
valeur = df.iloc[0, 3]
print(f"Note de Maths (1ère ligne) : {valeur}")

# Exemple 2 : troisième ligne, dernière colonne (Anglais)
valeur = df.iloc[2, -1]
print(f"Note d'Anglais (3e ligne) : {valeur}")

# Exemple 3 : lignes 0 à 2 (exclu 3), colonnes 3 à 5 (Maths à Français)
sous_df = df.iloc[0:3, 3:6]
print(sous_df)

Note de Maths (1ère ligne) : 13.08418681652524
Note d'Anglais (3e ligne) : 15.029390285561773
       Maths   Physique   Français
0  13.084187  12.977580  11.220971
1  16.614110   8.726531  11.368379
2  11.892522  14.506986  12.845797

In [97]:
# Exemple 1 : note de Physique de la ligne 2
valeur = df.loc[2, "Physique"]
print(f"Physique de la ligne 2 : {valeur}")

df = df.set_index("Nom") # par défault, l'index est numérique 

# Exemple 1 : note de Physique de Oscar_2
valeur = df.loc["Oscar_2", "Physique"]
print(f"Physique de Oscar_2 : {valeur}")

# Exemple 2 : ligne complète de Kevin_11
ligne_bob = df.loc["Kevin_11"]
print("Infos de Bob :")
print(ligne_bob)

# Exemple 3 : notes de Maths et Français pour Ugo_25
notes = df.loc["Ugo_25", ["Maths", "Français"]]
print("Notes d'Ugo_25 :")
print(notes)

Physique de la ligne 2 : 14.506985777340248
Physique de Oscar_2 : 14.506985777340248
Infos de Bob :
Sexe                M
Classe        Seconde
Maths       13.071338
Physique    11.171407
Français    11.285685
Anglais     14.324688
Name: Kevin_11, dtype: object
Notes d'Ugo_25 :
Maths        7.609455
Français    13.770635
Name: Ugo_25, dtype: object

**Extraire des valeurs** d'un dataframe conditionnellement

In [98]:
df.index

Index(['Gina_0', 'Tina_1', 'Oscar_2', 'Kevin_3', 'Hugo_4', 'Ugo_5', 'Gina_6',
       'Ziad_7', 'Sami_8', 'Wassim_9', 'Kevin_10', 'Kevin_11', 'Xavier_12',
       'Ugo_13', 'David_14', 'Hugo_15', 'Xavier_16', 'Claire_17', 'Valérie_18',
       'Ugo_19', 'Bob_20', 'Xavier_21', 'Laura_22', 'Farid_23', 'Bob_24',
       'Ugo_25', 'Alice_26', 'Laura_27', 'Ziad_28', 'Valérie_29', 'Laura_30',
       'Yasmine_31', 'Quentin_32', 'Jules_33', 'Paul_34', 'Oscar_35',
       'Oscar_36', 'Sami_37', 'Laura_38', 'Wassim_39', 'Tina_40', 'Yasmine_41',
       'Claire_42', 'Emma_43', 'Sami_44', 'Gina_45', 'Ugo_46', 'Inès_47',
       'Gina_48', 'Rania_49'],
      dtype='object', name='Nom')

In [99]:
# df = df.reset_index()

print("Élèves ayant plus de 15 en Maths :")
print(df[df["Maths"] > 15])
print("\n")

print("Filles en classe de 3ème :")
print(df[(df["Sexe"] == "F") & (df["Classe"] == "3ème")])
print("\n")

print("Élèves ayant moins de 10 en Physique ou en Français :")
print(df[(df["Physique"] < 10) | (df["Français"] < 10)])
print("\n")

print("Garçons ayant entre 12 et 16 en Maths :")
print(df.loc[
    (df["Sexe"] == "M") & (df["Maths"].between(12, 16)),
    ["Maths"] #["Nom", "Maths"]
])

Élèves ayant plus de 15 en Maths :
          Sexe     Classe      Maths   Physique   Français    Anglais
Nom
Tina_1       F   Première  16.614110   8.726531  11.368379  11.199102
Kevin_3      M    Seconde  16.693931   7.495372  13.682304  11.580926
Xavier_12    F  Terminale  16.433682   8.344241  10.858215  14.068358
Oscar_36     M  Terminale  17.658558  15.664436  14.030071  15.900367
Emma_43      F  Terminale  19.389726   8.948294  14.302783  12.463419
Gina_48      F   Première  15.428468  10.386530  12.029273  13.339933


Filles en classe de 3ème :
Empty DataFrame
Columns: [Sexe, Classe, Maths, Physique, Français, Anglais]
Index: []


Élèves ayant moins de 10 en Physique ou en Français :
           Sexe     Classe      Maths  Physique   Français    Anglais
Nom
Tina_1        F   Première  16.614110  8.726531  11.368379  11.199102
Kevin_3       M    Seconde  16.693931  7.495372  13.682304  11.580926
Gina_6        F    Seconde  12.261141  8.523659  13.026004  14.096420
Ziad_7        M   Première  11.102978  9.584256  15.907068  12.383383
Wassim_9      M    Seconde   6.037293  9.741311  18.440338  15.019397
Kevin_10      M    Seconde  11.340984  7.123341  14.251335  12.904450
Xavier_12     F  Terminale  16.433682  8.344241  10.858215  14.068358
David_14      F    Seconde   9.574519  8.701439  12.553074  17.215916
Xavier_16     F  Terminale  14.746206  9.041867  13.946475  10.962286
Ugo_19        F  Terminale  13.539802  7.922839   9.970306  15.278650
Laura_22      M    Seconde   9.893841  6.981292  13.428187  14.757481
Alice_26      M  Terminale  12.888361  7.907623  11.232285  13.287582
Laura_27      M    Seconde  12.783166  7.698858  13.307450  13.020006
Quentin_32    M  Terminale  10.971856  9.299938  15.166102  17.183234
Oscar_35      M    Seconde  13.212153  9.214121  11.124350  13.273649
Laura_38      M   Première  12.772651  8.021741  14.030095  14.665729
Tina_40       M  Terminale   6.243686  8.563296  14.141781  12.609604
Emma_43       F  Terminale  19.389726  8.948294  14.302783  12.463419
Rania_49      M  Terminale  14.255799  9.115660  13.163748  14.196111


Garçons ayant entre 12 et 16 en Maths :
               Maths
Nom
Gina_0     13.084187
Ugo_5      14.465708
Kevin_11   13.071338
Claire_17  12.986253
Bob_20     12.291233
Alice_26   12.888361
Laura_27   12.783166
Ziad_28    12.015340
Oscar_35   13.212153
Sami_37    12.523733
Laura_38   12.772651
Claire_42  12.180691
Rania_49   14.255799

**Trier** un dataframe

On utilise sort_values(by=[colonnes], ascending=[boolean])

In [100]:
print("Garçons ayant entre 12 et 16 en Maths (triés par note décroissante) :")
print(
    df.loc[
        (df["Sexe"] == "M") & (df["Maths"].between(12, 16)),
        ["Nom", "Maths"]
    ].sort_values(by=["Maths", "Nom"], ascending=[False, True])
)

Garçons ayant entre 12 et 16 en Maths (triés par note décroissante) :

KeyError: "['Nom'] not in index"

### Indicateurs statistiques

On utilise pour cela une seule commande : describe()

In [ ]:
df.describe()

Nous pouvons isoler les indicateurs.

In [ ]:
print(f"Moyenne en Maths : {df['Maths'].mean():.2f}")
print(f"Écart-type en Maths : {df['Maths'].std():.2f}")
print(f"Médiane en Maths : {df['Maths'].median():.2f}")
print(f"Nombre de valeurs (non nulles) en Maths : {df['Maths'].count()}")

### Travailler avec des séries

Une série en pandas est une structure de données unidimensionnelle (comme une colonne) qui contient des valeurs indexées, un peu comme une liste avec des étiquettes.

In [ ]:
print(type(df["Maths"]))

In [ ]:
# Série contenant les notes de Maths
notes_maths = df["Maths"]

# 1. Afficher les notes de Maths supérieures à 13
print("Notes de Maths supérieures à 13 :")
print(notes_maths[notes_maths > 13])
print("\n")

# 2. Valeurs uniques des notes de Maths
notes_maths_unique = notes_maths.unique()
print("Valeurs uniques des notes de Maths :")
print(notes_maths_unique)
print("\n")

# 3. Occurrences de chaque note (arrondies à 2 décimales pour une meilleure lisibilité)
notes_maths_occurences = notes_maths.round(0).value_counts().sort_index()
print("Nombre d'occurrences par note (arrondies) :")
print(notes_maths_occurences)
print("\n")

# 4. Occurrences en pourcentage
notes_maths_occurences_pourcentages = notes_maths.round(0).value_counts(normalize=True).sort_index()
print("Pourcentage d'apparition de chaque note (arrondies) :")
print(notes_maths_occurences_pourcentages)

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(notes_maths_occurences_pourcentages.index.astype(str), notes_maths_occurences_pourcentages.values)

plt.title("Pourcentage d'apparition de chaque note en Maths (arrondie à l'entier)")
plt.xlabel("Note en Maths")
plt.ylabel("Pourcentage")
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()